<template>
  <button class="button">
    <p class="white-text"><slot></slot></p>
  </button>
</template>

<style scoped>
.button {
  width: 80px;
  height: 40px;
  border-radius: 7px;
  border: 0 solid transparent;
  display: none;
}

.white-text{
  width: 65px;
  height: 14px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin:  auto;
}
</style>
