<template>
  <div class="more">
    <div class="more__dot"></div>
    <div class="more__dot"></div>
    <div class="more__dot"></div>
  </div>
</template>

<style scoped>
.more {
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 14px; */
}
.more__dot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #979797;
  margin: 4px;
}
</style>
