<template>
  <div class="box">
    <div class="center">
      <div class="img-box">
        <img class="img-box__img" :src="`../../static/img/${photo.filename}.png`">
        <ButtonsSaveAndShare class="img-box__button--save"> Save </ButtonsSaveAndShare>
        <ButtonsSaveAndShare class="img-box__button--share"> Share </ButtonsSaveAndShare>
      </div>
      <p class="title" v-text="photo.title"></p>
      <ButtonMore class="box__more"/>
    </div>
  </div>
</template>

<script>
import ButtonsSaveAndShare from './buttons/ButtonsSaveAndShare.vue'
import ButtonMore from './buttons/ButtonMore.vue'

export default {
  data () {
    return {
      counter: 0
    }
  },
  props: {
    photo: {
      type: Object,
      required: true
    }
  },
  components: {
    ButtonsSaveAndShare,
    ButtonMore
  }
}
</script>

<style scoped>
.center {
  padding-top:7px;
  width: 236px;
  margin: 0 auto;
}

.box {
  width: 256px;
  border-radius: 14px;
  background-color:transparent;
}
.box:hover .img-box__button--save {
  display: initial;
}
.box:hover .img-box__button--share {
  display: initial;
}
.box:hover .img-box__img {
  opacity: 0.8;
}
.box:hover {
  background:  rgba(155, 155, 155, 0.4);
}

.img-box {
  width: 236px;
  min-height: 200px;
  min-width: 200px;
  position: relative;
}

.img-box__img {
  border-radius: 14px;
  object-fit: cover;
  width: 236px;
  height: 368px;
}

.box:nth-child(1) .img-box__img,
.box:nth-child(6) .img-box__img{
  height: 509px;
}

.img-box__button--save {
  position: absolute;
  bottom: 13px;
  left: 13px;
  background-color: grey;
}

.img-box__button--share {
  position: absolute;
  top: 13px;
  right: 13px;
  background-color: #dc1a1a;
}

.title {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.box__more {
  margin-bottom: 14px;
}
</style>
