* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:darkslategrey;
}


#newest {
    display: flex;
    flex-direction: column;
    width: 788px;
    height: 1314px;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: aliceblue;
    /* align-content: space-between; */
    padding: 11px 10px;
}
.center {
    padding-top:7px;
    width: 236px;
    margin: 0 auto;
}

.box {
    width: 256px;
    border-radius: 14px;
    background-color:transparent;
}

.img-box {
    width: 236px;
    min-height: 200px;
    min-width: 200px;
    position: relative;
}

.img-box__img {

    width: 236px;
    border-radius: 14px;
}

.img-box__button--save {
    width: 80px;
    height: 40px;
    border-radius: 7px;
    background-color: #dc1a1a;
    position: absolute;
    top: 13px;
    right: 13px;
    border: 0 solid transparent;
    display:none;
}

.img-box__button--share {
    position: absolute;
    width: 80px;
    height: 40px;
    border-radius: 7px;
    background-color: #9b9b9b;
    bottom: 13px;
    left: 13px;
    border: 0 solid transparent;
    display:none;
}

 
.box:hover .img-box__button--share {  
    display:initial;
 }

.box:hover .img-box__button--save {  
    display:initial;
 }

.box:hover .img-box__img  {  
    opacity: 0.8;
 }
 .box:hover{
    background:  rgba(155, 155, 155, 0.4);
 }

 

.white-text{
  width: 65px;
  height: 14px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold; 
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin:  auto;
}


.more {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 14px;
}
.more--dot {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #979797;
    margin: 4px;
}
