<template>
  <div id="newest">
    <Box class="photo"
      v-for="(photo, i) in photos"
      :key="i"
      :photo="photo"
    />
  </div>
</template>

<script>
import Box from './components/Box.vue'

export default {
  name: 'App',
  components: {
    Box
  },
  data () {
    return {
      photos: [
        {
          title: 'beautiful stone!',
          filename: '5'
        },
        {
          title: 'beautiful night!',
          filename: '6'
        },
        {
          title: 'beautiful kyoto!',
          filename: '2'
        },
        {
          title: 'beautiful mountain!',
          filename: '3'
        },
        {
          title: 'beautiful osaka!',
          filename: '4'
        },
        {
          title: 'beautiful road!',
          filename: '1'
        },
        {
          title: 'beautiful kyoto!',
          filename: '2'
        }
      ]
    }
  }
}
</script>

<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:darkslategrey;
}

#newest {
  display: flex;
  flex-direction: column;
  width: 788px;
  height: 1314px;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: aliceblue;
  /* align-content: space-between; */
  padding: 11px 10px;
}

</style>
